button {
  background-color: blue;

  color: white;
}

.espacio {
  font-display: 10 px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.espacio button {
  background-color: #0000ff;
  color: white;
  border: none;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  margin: 2px 0;
  width: 150px; /* Ancho fijo */
  height: 30px; /* Alto fijo */
}
