nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: darkgrey;
  padding-bottom: 9px;
  padding-top: 9px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: yellow;
}

.container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.hijo {
  flex: 1 200px;
}

.gallery {
  width: 100%;
  flex-wrap: wrap;
  border-radius: 10px;
}

body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 50px;
  margin-right: 90px;
  margin-left: 90px;
}
.container2  p {

  text-align: justify;
}
.hijo2 {
  flex: 1 200px;
}

.gallery2 {
  width: 100%;
  height: auto;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
}
h1 {
  font-size: 40px;
  color: black;
  text-align: center;
}
p {
  font-size: 1em;
  margin-top: 50px;
  text-align: center;
}
.titulo {
  color: red;
  text-align: center;
}
.contact {
  text-align: center;
}
.formulario {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
  margin-left: 90px;
}
button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
}
button:hover {
  background-color: red;
}
label {
  line-height: 40px;
}
input {
  padding: 10px;
}
footer {
  background-color: darkslategray;
  color: wheat;

  padding-bottom: 50px;
}
